@import "../../styles/colors";

.hero-container {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  -webkit-user-select: none;

  .hero-image {
    object-fit: fill;
    width: 100%;
  }

  .text {
    background-color: $textBorder;
    bottom: 5%;
    padding: 0.5vw 1.75vw;
    position: absolute;
    right: 0;
    text-align: right;

    h1 {
      color: $white;
      font-size: 3.75vw;
    }

    .subtext {
      white-space: nowrap;

      p {
        color: $white;
        font-size: 2vw;
        font-weight: 500;
      }

      a {
        color: $extLink;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }

  @media only screen and (max-width: 425px) {
    .hero-image {
      margin-top: 100%;
      object-fit: cover;
      transform: scale(5);
    }

    .text {
      h1 {
        font-size: 15vw;
      }

      .subtext {
        right: 0;
        white-space: pre-wrap;

        p {
          font-size: 6vw;
        }

        p:nth-child(1) {
          margin: 10px 0;
        }
      }
    }
  }
}
