@import "../../styles/colors";

.navbar-container {
  margin-top: 15px;
  position: absolute;
  width: 100vw;
  z-index: 10;

  // flex
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1 {
    font-size: 2.6vw;
    font-weight: 800;
    color: $white;
    padding-left: 25px;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 0 25px;
    width: 20vw;

    .nav-link {
      color: $white;
      cursor: pointer;
      font-size: 1.25vw;
      text-decoration: none;
      transition: 0.5s;
    }

    .active {
      color: $orange;
      font-weight: 700;
    }
  }
}
