.tech-container {
  background-color: rgb(93, 152, 160);
  height: 100vh;
  overflow-y: hidden;
  position: relative;
  width: 100vw;

  svg {
    background-color: white;
    left: 0;
    margin-top: -25px;
    position: absolute;
    top: 0;
  }

  h1 {
    color: white;
    font-size: 3.75vw;
    left: 90px;
    position: absolute;
    top: 10vw;
  }

  .tech-info {
    position: absolute;
    right: 25px;
    text-align: right;
    top: 51%;
    width: 100vw;

    h2 {
      font-size: 2vw;
    }

    .tech-list {
      margin-top: 5%;
      text-align: right;
      white-space: nowrap;

      // grid
      display: grid;
      grid-template-columns: 33% 33% 33%;
      row-gap: 50%;

      div {
        font-size: 1.5vw;
      }
    }
  }
}
