@import "../../styles/colors";

.tech-container {
  background-color: $teal;
  height: 100vh;
  overflow-y: hidden;
  position: relative;
  width: 100vw;

  svg {
    background-color: $white;
    left: 0;
    margin-top: -25px;
    position: absolute;
    top: 0;
  }

  h1 {
    color: $white;
    font-size: 3.75vw;
    left: 90px;
    position: absolute;
    top: 10vw;
  }

  .tech-info {
    position: absolute;
    right: 25px;
    text-align: right;
    top: 50%;
    width: 100vw;

    h2 {
      font-size: 2vw;
      position: absolute;
      width: 50%;
      right: 25px;
    }

    .tech-list {
      margin-top: 8%;
      text-align: right;
      white-space: nowrap;

      // grid
      display: grid;
      grid-template-columns: 33% 33% 33%;
      row-gap: 50%;

      div {
        font-size: 1.5vw;
      }
    }
  }

  @media only screen and (max-width: 425px) {
    svg {
      height: 100vh;
    }

    h1 {
      color: $teal;
      font-size: 5.5vw;
      left: 0;
      right: 0;
      text-align: center;
      top: 25vh;
    }

    .tech-info {
      right: 0;
      left: 0;
      text-align: center;
      top: 35vh;

      h2 {
        font-size: 4vw;
        left: 0;
        margin: 0 auto;
        right: 0;
        text-align: center;
        width: 80%;
      }

      .tech-list {
        grid-template-columns: 100%;
        row-gap: 10px;
        padding: 0 20px;
        margin-top: 20%;
        text-align: left;

        div {
          font-size: 4vw;
        }
      }
    }
  }
}
