@import "../../styles/colors";

.how-container {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  -webkit-user-select: none;

  .how-background {
    margin-top: -25px;
    width: 100%;
  }

  .box {
    background-color: $orange;
    height: 70vh;
    left: 10%;
    position: absolute;
    top: 17.5%;
    width: 40vw;

    h1 {
      margin: 5% 0 0 5%;
      font-size: 2.35vw;
    }

    .how-text {
      font-size: 1.4vw !important;
      font-weight: 300 !important;
      letter-spacing: 1px;
      margin-top: 10%;
      padding: 0 7%;
    }

    p,
    .command {
      margin-top: 5%;
      text-align: center;
    }

    p:nth-child(1),
    p:nth-child(3) {
      font-size: 1.4vw;
      font-weight: 500;
    }

    p:nth-child(2) {
      font-size: 1.75vw;
      font-weight: 700;
    }

    .command {
      backdrop-filter: brightness(0.8);
      font-size: 1.25vw;
      margin: 5% auto;
      padding: 10px;
      width: 50%;
      -webkit-user-select: text;
    }
  }

  @media only screen and (max-width: 425px) {
    .how-background {
      margin-left: -200%;
      margin-top: 80%;
      transform: scale(5);
    }

    .box {
      height: 75%;
      width: 80%;

      h1 {
        font-size: 8vw;
        margin: 50px 0 0 0;
        text-align: center;
      }

      .how-text {
        margin-top: 50px;
        font-size: 5.5vw !important;
      }

      p:nth-child(1),
      p:nth-child(3) {
        margin-top: 20px;
        font-size: 5.5vw;
        padding: 0 50px;
      }

      p:nth-child(2) {
        margin-top: 10px;
        font-size: 8vw;
      }

      .command {
        font-size: 4vw;
        margin-top: 40px;
        width: 75%;
      }
    }
  }
}
