.how-container {
  height: 100vh;
  overflow: hidden;
  width: 100vw;

  .how-background {
    margin-top: -25px;
    width: 100%;
  }

  .box {
    background-color: orange;
    height: 70vh;
    left: 10%;
    position: absolute;
    top: 17.5%;
    width: 40vw;

    h1 {
      margin: 25px 0 0 25px;
    }

    .how-text {
      font-size: 20px !important;
      font-weight: 300 !important;
      letter-spacing: 1px;
      margin-top: 50px;
      padding: 0 35px;
    }

    p,
    .command {
      margin-top: 25px;
      text-align: center;
    }

    p:nth-child(1),
    p:nth-child(3) {
      font-size: 20px;
      font-weight: 500;
    }

    p:nth-child(2) {
      font-size: 25px;
      font-weight: 700;
    }

    .command {
      background-color: rgb(199, 131, 5);
      margin: 25px auto;
      padding: 10px;
      width: 250px;
    }
  }
}
